:root {
  --primary-colour: #5158bb;
  --secondary-colour: #e289b2;
  --tertiary-colour: rgba(253, 186, 95);
  --text-colour: white;
}
#root {
  max-width: 100%;
}
a {
  color: var(--text-colour);
}
.cert {
  max-width: 7rem;
  max-height: 7rem;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: auto;

  color: #ffffff;
}
html {
  background: linear-gradient(to bottom, #5158bb, #e289b2);
}

header {
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 500px;
}
/* h1 {
 
} */

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

h2 {
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
}

ul {
  padding-left: 20px;
}

footer {
  text-align: center;
  padding: 10px;
  background: #333;
  color: white;
  margin-top: 20px;
}
.cat-image {
  margin-bottom: -13rem;
  margin-right: 3rem;
  z-index: 1;
  min-height: 438px;
}
.fishy-container {
  z-index: 3;
  min-height: 64px;
  padding-top: 10px;
}

.title {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.centered-page {
  display: flex !important;
  flex-direction: column;
  align-items: center;
}

section {
  padding: 1rem;
  max-width: 100%;
}

.bio {
  text-align: center;
  font-size: large;
  font-style: italic;
  width: 90vw;
}
p {
  text-align: center;
  font-size: large;
}

.scroll-container {
  display: flex;
  align-items: center;
  position: relative;
  margin: auto;
}

.horizontal-scroll {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
  gap: 10px;
  padding: 10px;
  width: 80vh;
  scrollbar-width: none; /* Hide scrollbar on Firefox */
}

.horizontal-scroll::-webkit-scrollbar {
  display: none; /* Hide scrollbar on Chrome & Safari */
}
.scroll-button {
  background: rgba(48, 14, 104, 0.6);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 20px;
  width: 32px; /* Ensures perfect circle */
  min-width: 32px;
  height: 32px;
  z-index: 1;
  border-radius: 50%;

  transition: background 0.3s ease;
}

.scroll-button:hover {
  background: rgba(209, 43, 231, 0.8);
}

.scroll-button.left {
}

.scroll-button.right {
}
.sparkles-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Prevent interaction blocking */
  overflow: hidden; /* Ensures it doesn't stretch */
}
.tech-logo-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.canvas-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* Keeps it behind content */
  pointer-events: none; /* Prevents interaction */
}

.app-container {
  position: relative;
  overflow-x: auto;
}

.content {
  position: relative;
  padding: 20px;
  color: white;
}

.flex-row {
  display: flex;
  flex-direction: row;
  width: auto;
}

.flex-centered-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 1rem;
}
.translay-logo {
  max-height: 150px;
}

.icon {
  background-color: rgba(1, 1, 1, 0);
  box-shadow: none;
  border-width: 0px;
  color: #ffffff;
  cursor: pointer;
}
.volume-container {
  display: flex;
  flex-direction: row-reverse;
}
.job-info {
  padding: 0 3rem;
}
.title-text {
  font-size: 10em;
  margin: 0;
  display: block;
  max-width: 100%;
  font-weight: bold;
  unicode-bidi: isolate;
}
.card {
  padding-left: 1rem;
  padding-right: 1rem;
}

nav ul {
  display: flex;
}
.logo-nav {
  display: none;
  font-size: x-large;
}

@media screen and (max-width: 1171px) {
  .title-text {
    font-size: 5em;
    text-align: center;
  }
  .cat-animation,
  .cat-image {
    height: 250px;
    z-index: 1;
    margin-right: -3rem;
    margin-bottom: 0px;
  }
  .title {
    align-items: center;
  }

  .cat-image {
    min-height: 0px;
  }
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
}
@media screen and (max-width: 950px) {
  .logo-nav {
    display: flex;
  }
  .text-nav {
    display: none;
  }
  .scroll-button {
    display: none;
  }
}
/* debug code for visualising boxes */
/* * {
  outline: 1px solid red;
} */
/* html,
body {
  width: 100%;
  overflow-x: hidden;
} */
html,
body,
canvas,
nav,
.title {
  max-width: 100% !important;
}

html {
  padding: 1rem;
}
